name: Snapshot Gauge Votes

on:
    workflow_dispatch:
    schedule:
        - cron: "10 2 * * 4" # Runs every Thursday

jobs:
    update-snapshot:
        runs-on: ubuntu-latest

        env:
            NODE_URL: ${{ secrets.NODE_URL }}
            PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
            TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
            TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}

        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: recursive
                  token: ${{ secrets.ACCESS_TOKEN }}
            - uses: actions/setup-node@v4
              with:
                  node-version: 18
                  cache: "yarn"

            - name: Run snapshot script
              run: bash ./scripts/automations/snapshot-generate.sh

            - name: Check for changes and commit
              run: |
                  git config --global user.name "0xahtle7"
                  git config --global user.email "0xahtle7@users.noreply.github.com"

                  # Check if there are any changes
                  if git diff --quiet && git diff --cached --quiet; then
                    echo "No changes detected, skipping commit"
                  else
                    echo "Changes detected, committing and pushing"
                    git add .
                    git commit -m "ci: vote $(date +'%d %B %Y') [skip ci]"
                    git push origin main
                  fi
              env:
                  GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
