name: Snapshot Gauge Votes

on:
    workflow_dispatch:
    schedule:
        - cron: "0 2 * * 4" # Runs every Thursday

jobs:
    update-snapshot:
        runs-on: ubuntu-latest

        env:
            NODE_URL: https://eth.drpc.org

        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: recursive
                  token: ${{ secrets.ACCESS_TOKEN }}
            - uses: actions/setup-node@v4
              with:
                  node-version: 18
                  cache: "yarn"

            - name: Run snapshot script
              run: bash ./scripts/automations/snapshot-generate.sh

            - name: Run Prettier
              run: yarn prettier

            - name: Put current date into a variable
              run: |
                  NOW=$(date +'%d %B %Y')
                  BRANCH=$(date +'%d-%B-%Y')
                  echo "NOW=$NOW" >> $GITHUB_ENV

            - name: Create Pull Request
              uses: peter-evans/create-pull-request@v3.10.1
              with:
                  token: ${{ secrets.ACCESS_TOKEN }}
                  commit-message: "feat: vote ${{ env.NOW }}"
                  title: "feat: vote ${{ env.NOW }}"
                  body: Auto-created Pull Request
                  branch: "feat/vote-${{ env.BRANCH }}" # The branch where you commit
                  base: main # Don't forget to specify the right base branch here
